@model IEnumerable<WikiCharity.Models.DetailModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">

    <title>WikiCharity - Compare</title>

    <!-- Styles -->
    <link href="~/assets/css/app.min.css" rel="stylesheet">
    <link href="~/assets/css/thejobs.css" rel="stylesheet">
    <link href="~/assets/css/custom.css" rel="stylesheet">
    <link href="~/Content/detailtable.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="~/Scripts/cusTableCompare.js"></script>


    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="~/assets/img/favicon.ico">
</head>

<body class="nav-on-header smart-nav">
    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="container">

            <!-- Logo -->
            <div class="pull-left">
                <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

                <div class="logo-wrapper">
                    <a href="@Url.Action("Index", "Home", null)">
                        <img class="logo-alt" src="~/Uploads/logo.png" alt="logo-alt" style="width:90px;height:60px;">
                    </a>
                </div>

            </div>
            <!-- END Logo -->
            <!-- Navigation menu -->
            <ul class="nav-menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Favourite List", "FavList", "Compare")</li>

                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Donor Advice", "DonorAdvice", "Home")</li>

                <li>@Html.ActionLink("FAQs", "FAQs", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <!-- END Navigation menu -->

        </div>
    </nav>
    <!-- END Navigation bar -->
    <!-- Site header -->
    <header class="page-header bg-img size-lg" style="background-image: url(/Uploads/pebblesbeachh.jpg)">
        <div class="container no-shadow">
            <h1 class="text-center">Compare Charities</h1>
            <p class="lead text-center">Compare different charities</p>
        </div>
    </header>
    <!-- END Site header -->
    <!-- Main container -->
    <main>
        <!--Two Cards-->
        <section>
            <div class="container">
                <header class="section-header">
                    @*<span>Charities</span>
                        <h2>Comparing</h2>*@
                </header>

                <ul class="pricing1">

                    <li>
                        <h6>@Model.ElementAt(0).Name</h6>
                        <hr>
                        <p><i class="fa fa-briefcase"></i>ABN: @Model.ElementAt(0).ABN</p>
                        <p><i class="fas fa-warehouse"></i>Size: @Model.ElementAt(0).Size</p>

                        <p><i class="fas fa-money-bill-alt"></i>Tax Deductiable:@Model.ElementAt(0).Tax</p>
                        <p><i class="fa fa-users"></i>Full time staff: @Model.ElementAt(0).StaffFull</p>
                        <p><i class="fa fa-users"></i>Part time staff: @Model.ElementAt(0).StaffPart</p>
                        <p><i class="fa fa-users"></i>Casual staff: @Model.ElementAt(0).StaffCasual</p>
                        <p><i class="fa fa-users"></i>Volunteer staff: @Model.ElementAt(0).StaffVolun</p>
                        <br>

                        <a class="btn btn-primary btn-block" id="Todetail1" href="/Home/Detail/@ViewBag.id1">More Details</a>
                    </li>

                    <li>
                        <h6>@Model.ElementAt(1).Name</h6>
                        <hr>
                        <p><i class="fa fa-briefcase"></i>ABN: @Model.ElementAt(1).ABN</p>
                        <p><i class="fas fa-warehouse"></i>Size: @Model.ElementAt(1).Size</p>

                        <p><i class="fas fa-money-bill-alt"></i>Tax Deductiable:@Model.ElementAt(1).Tax</p>
                        <p><i class="fa fa-users"></i>Full time staff: @Model.ElementAt(1).StaffFull</p>
                        <p><i class="fa fa-users"></i>Part time staff: @Model.ElementAt(1).StaffPart</p>
                        <p><i class="fa fa-users"></i>Casual staff: @Model.ElementAt(1).StaffCasual</p>
                        <p><i class="fa fa-users"></i>Volunteer staff: @Model.ElementAt(1).StaffVolun</p>
                        <br>

                        <a class="btn btn-primary btn-block" id="Todetail2" href="/Home/Detail/@ViewBag.id2">More Details</a>
                    </li>

                </ul>
            </div>
            <!--END Two Cards-->
            <br />
            <br />
            <!--Expene/Income Graph for two Charities-->
            <div class="container">
                <div class="chartrow">
                    <h4>Revenue & Expenses in 2016</h4>

                    <div id="chart_div_new" class="chart">

                    </div>

                </div>
            </div>
            <!--END Graph-->
            <!--Financial Table-->
            <div class="container">
                <h4>Ratios</h4>
                <table>
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">@Model.ElementAt(0).Name</th>
                            <th scope="col">@Model.ElementAt(1).Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="">Employee Expenses Percentage </td>
                            <td data-label=@Model.ElementAt(0).Name>@Model.ElementAt(0).EmpExpensePersentage</td>
                            <td data-label=@Model.ElementAt(1).Name>@Model.ElementAt(1).EmpExpensePersentage</td>
                        </tr>
                        <tr>
                            <td data-label="">Debt Equity Ratio</td>
                            <td data-label=@Model.ElementAt(0).Name>@Model.ElementAt(0).DebtEquityRadio</td>
                            <td data-label=@Model.ElementAt(1).Name>@Model.ElementAt(1).DebtEquityRadio</td>

                        </tr>
                        <tr>
                            <td data-label="">Saving Ratio</td>
                            <td data-label=@Model.ElementAt(0).Name>@Model.ElementAt(0).SavingRadio</td>
                            <td data-label=@Model.ElementAt(1).Name>@Model.ElementAt(1).SavingRadio</td>

                        </tr>
                        <tr>
                            <td data-label="">Current Ratio</td>
                            <td data-label=@Model.ElementAt(0).Name>@Model.ElementAt(0).CurrentRadio</td>
                            <td data-label=@Model.ElementAt(1).Name>@Model.ElementAt(1).CurrentRadio</td>

                        </tr>
                        <tr>
                            <td data-label="">Debt Ratio</td>
                            <td data-label=@Model.ElementAt(0).Name>@Model.ElementAt(0).DebtRadio</td>
                            <td data-label=@Model.ElementAt(1).Name>@Model.ElementAt(1).DebtRadio</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--END Financial Table-->


        </section>

    </main>
    <!-- END Main container -->
    <!-- Site footer -->
    <footer class="site-footer">

        <!-- Top section -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h6>WikiCharity</h6>
                    <p class="text-justify">
                        WikiCharity is a platform to connect individuals, and businesses with charities & not-for-profits across Australia. The highly customizable search function will allow users to find charities based on their criteria. Search results will provide basic charity details, and the charity’s historical financial details and financial ratios. Users will also be able to compare charities to aid users to narrow down on the charities which they would like to donate to.
                    </p>
                </div>

            </div>

            <hr>
        </div>
        <!-- END Top section -->
        <!-- Bottom section -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">

                    <p class="copyright-text">Copyrights &copy; @DateTime.Now.Year All Rights Reserved by QingGari</p>
                </div>
            </div>
        </div>
        <!-- END Bottom section -->

    </footer>
    <!-- END Site footer -->
    <!-- Back to top button -->
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
    <!-- END Back to top button -->
    <!-- Scripts -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/thejobs.js"></script>

</body>
</html>
