@model IEnumerable<WikiCharity.Models.DetailModel>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">

    <title>WikiCharity - Compare</title>

    <!-- Styles -->
    <link href="~/assets/css/app.min.css" rel="stylesheet">
    <link href="~/assets/css/thejobs.css" rel="stylesheet">
    <link href="~/assets/css/custom.css" rel="stylesheet">
    <link href="~/Content/detailtable.css" rel="stylesheet">
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="~/Scripts/cusTableCompare.js"></script>


    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="~/assets/img/favicon.ico">
</head>

<body class="nav-on-header smart-nav">
    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="container">

            <!-- Logo -->
            <div class="pull-left">
                <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

                <div class="logo-wrapper">
                    <a href="@Url.Action("Index", "Home", null)">
                        <img class="logo-alt" src="~/Uploads/logo.png" alt="logo-alt" style="width:90px;height:60px;">
                    </a>
                </div>

            </div>
            <!-- END Logo -->
            <!-- Navigation menu -->
            <ul class="nav-menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Favourite List", "FavList", "Compare")</li>

                <li>@Html.ActionLink("Donor Advice", "DonorAdvice", "Home")</li>

                <li>@Html.ActionLink("FAQs", "FAQs", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>

                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <!-- END Navigation menu -->

        </div>
    </nav>
    <!-- END Navigation bar -->
    <!-- Site header -->
    <header class="page-header bg-img size-lg" style="background-image: url(/Uploads/pebblesbeachh.jpg)">
        <div class="container no-shadow">
            <h1 class="text-center">Compare Charities</h1>
            <p class="lead text-center">Compare different charities</p>
        </div>
    </header>
    <!-- END Site header -->
    <!-- Main container -->
    <main>
        <!--Three Cards-->
        <section>
            <div class="container">
                <header class="section-header">
                    @*<span>Charities</span>
                        <h2>Comparing</h2>*@
                </header>

                <ul class="pricing">
                    <li>
                        <h6 style="height:40px">@Model.ElementAt(0).Name</h6>
                        <hr>
                        <p>
                            <i class="fa fa-briefcase"></i>

                            ABN: @Model.ElementAt(0).ABN
                        </p>
                        <p><i class="fas fa-warehouse"></i>　Size: @Model.ElementAt(0).Size</p>

                        <p><i class="fas fa-money-bill-alt"></i>　Tax Deductiable: &nbsp;@Model.ElementAt(0).Tax</p>
                        <p><i class="fa fa-users"></i>　Full time staff:&nbsp; @Model.ElementAt(0).StaffFull</p>
                        <p><i class="fa fa-users"></i>　Part time staff:&nbsp; @Model.ElementAt(0).StaffPart</p>
                        <p><i class="fa fa-users"></i>　Casual staff:&nbsp; @Model.ElementAt(0).StaffCasual</p>
                        <p><i class="fa fa-users"></i>　Volunteer staff: &nbsp;@Model.ElementAt(0).StaffVolun</p>
                        <br>

                        <a class="btn btn-primary btn-block" id="Todetail1" href="/Home/Detail/@ViewBag.id1">More Details</a>
                    </li>

                    <li>
                        <h6 style="height:40px">@Model.ElementAt(1).Name</h6>
                        <hr>
                        <p><i class="fa fa-briefcase"></i>　ABN:&nbsp; @Model.ElementAt(1).ABN</p>
                        <p><i class="fas fa-warehouse"></i>　Size: &nbsp;@Model.ElementAt(1).Size</p>

                        <p><i class="fas fa-money-bill-alt"></i>　Tax Deductiable:&nbsp;@Model.ElementAt(1).Tax</p>
                        <p><i class="fa fa-users"></i>　Full time staff:&nbsp; @Model.ElementAt(1).StaffFull</p>
                        <p><i class="fa fa-users"></i>　Part time staff:&nbsp; @Model.ElementAt(1).StaffPart</p>
                        <p><i class="fa fa-users"></i>　Casual staff:&nbsp; @Model.ElementAt(1).StaffCasual</p>
                        <p><i class="fa fa-users"></i>　Volunteer staff:&nbsp; @Model.ElementAt(1).StaffVolun</p>
                        <br>

                        <a class="btn btn-primary btn-block" id="Todetail2" href="/Home/Detail/@ViewBag.id2">More Details</a>
                    </li>

                    <li>
                        <h6 style="height:40px">@Model.ElementAt(2).Name</h6>
                        <hr>
                        <p><i class="fas fa-briefcase"></i>　ABN:&nbsp; @Model.ElementAt(2).ABN</p>
                        <p><i class="fas fa-warehouse"></i>　Size:&nbsp; @Model.ElementAt(2).Size</p>

                        <p>
                            <i class="fas fa-money-bill-alt"></i>
                            Tax Deductiable:&nbsp;@Model.ElementAt(2).Tax
                        </p>
                        <p><i class="fa fa-users"></i>　Full time staff:&nbsp; @Model.ElementAt(2).StaffFull</p>
                        <p><i class="fa fa-users"></i>　Part time staff:&nbsp; @Model.ElementAt(2).StaffPart</p>
                        <p><i class="fa fa-users"></i>　Casual staff: &nbsp; @Model.ElementAt(2).StaffCasual</p>
                        <p><i class="fa fa-users"></i>　Volunteer staff:&nbsp; @Model.ElementAt(2).StaffVolun</p>
                        <br>

                        <a class="btn btn-primary btn-block" id="Todetail2" href="/Home/Detail/@ViewBag.id3">More Details</a>
                    </li>
                </ul>
            </div>

            <!--END Three Cards-->
            <br />
            <br />
            <!--Expene/Income Graph for three charities-->
            <div class="container">
                <div class="chartrow">
                    <h4>Revenue & Expenses in 2016 ($)</h4>

                    <div id="chart_div_new" class="chart">

                    </div>

                </div>
            </div>
            <!--END Graph-->
            <!--Financial Table-->
            <div class="container">
                <h4>Ratios</h4>
                <table>
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">@Model.ElementAt(0).Name</th>
                            <th scope="col">@Model.ElementAt(1).Name</th>
                            <th scope="col">@Model.ElementAt(2).Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="">
                                Employee Expenses Percentage(%)
                                <span title="Percentage of income the Charity spends on its employees. Usually the lower this number, the better it is. Exceptions to this rule are charities in the service industry that mainly spend on their employees">
                                    <i class="ti-help-alt" style="color:#29aafe"></i>
                                </span>

                            </td>
                            <td data-label=@Model.ElementAt(0).Name>@Model.ElementAt(0).EmpExpensePersentage</td>
                            <td data-label=@Model.ElementAt(1).Name>@Model.ElementAt(1).EmpExpensePersentage</td>
                            <td data-label=@Model.ElementAt(2).Name>@Model.ElementAt(2).EmpExpensePersentage</td>
                        </tr>
                        <tr>
                            <td data-label="">
                                Debt Equity Ratio(%)
                                <span title="Ratios of greater than 100% tell indicate that the charity has more debt than assets. Charities should strive to keep debt as low as possible, the lower this number, the better off the charity is.">
                                    <i class="ti-help-alt" style="color:#29aafe"></i>
                                </span>
                            </td>
                            <td data-label=@Model.ElementAt(0).Name>@Model.ElementAt(0).DebtEquityRadio</td>
                            <td data-label=@Model.ElementAt(1).Name>@Model.ElementAt(1).DebtEquityRadio</td>
                            <td data-label=@Model.ElementAt(2).Name>@Model.ElementAt(2).DebtEquityRadio</td>

                        </tr>
                        <tr>
                            <td data-label="">
                                Saving Ratio(%)
                                <span title="Ratio indicates amount saved after all expenditure. Usually the higher the ratio, the greater the savings but an excessively high ratio indicates excessive savings. A negative ratio indicates that the charity spent more than it received.">
                                    <i class="ti-help-alt" style="color:#29aafe"></i>
                                </span>
                            </td>
                            <td data-label=@Model.ElementAt(0).Name>@Model.ElementAt(0).SavingRadio</td>
                            <td data-label=@Model.ElementAt(1).Name>@Model.ElementAt(1).SavingRadio</td>
                            <td data-label=@Model.ElementAt(2).Name>@Model.ElementAt(2).SavingRadio</td>

                        </tr>
                        <tr>
                            <td data-label="">
                                Current Ratio(%)
                                <span title="Ratio measures the organization’s ability to pay short-term liabilities. Charities should try to keep their current ratios above 1.0 as anything less than 1.0 indicates that the assets are vulnerable.">
                                    <i class="ti-help-alt" style="color:#29aafe"></i>
                                </span>
                            </td>
                            <td data-label=@Model.ElementAt(0).Name>@Model.ElementAt(0).CurrentRadio</td>
                            <td data-label=@Model.ElementAt(1).Name>@Model.ElementAt(1).CurrentRadio</td>
                            <td data-label=@Model.ElementAt(2).Name>@Model.ElementAt(2).CurrentRadio</td>

                        </tr>
                        <tr>
                            <td data-label="">
                                Debt Ratio(%)
                                <span title="Ratio measures the margin of safety to the creditors of an entity in the event of liquidation; thus the lower the ratio, the greater asset protection to creditors.">
                                    <i class="ti-help-alt" style="color:#29aafe"></i>
                                </span>
                            </td>
                            <td data-label=@Model.ElementAt(0).Name>@Model.ElementAt(0).DebtRadio</td>
                            <td data-label=@Model.ElementAt(1).Name>@Model.ElementAt(1).DebtRadio</td>
                            <td data-label=@Model.ElementAt(2).Name>@Model.ElementAt(2).DebtRadio</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <!--END Financial Table-->
        </section>
    </main>
    <!-- END Main container -->
    <!-- Site footer -->
    <footer class="site-footer">

        <!-- Top section -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h6>WikiCharity</h6>
                    <p class="text-justify">
                        WikiCharity is a platform to connect individuals, and businesses with information about charities & not-for-profits across Australia. The highly customizable search function will allow users to find charities based on their criteria. Search results will provide basic charity details, historical financial details, and calculated financial ratios. To hasten their search, or gain a deeper understanding of the charities, users are also able to compare charities for a side-by-side view of charity details.
                    </p>
                </div>

            </div>

            <hr>
        </div>
        <!-- END Top section -->
        <!-- Bottom section -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">

                    <p class="copyright-text">Copyrights &copy; @DateTime.Now.Year All Rights Reserved by QingGari</p>
                </div>
            </div>
        </div>
        <!-- END Bottom section -->

    </footer>
    <!-- END Site footer -->
    <!-- Back to top button -->
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
    <!-- END Back to top button -->
    <!-- Scripts -->

    <script src="~/assets/js/thejobs.js"></script>

</body>
</html>
