@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Post a job position or create your online resume by TheJobs!">
    <meta name="keywords" content="">

    <title>WikiCharity - About</title>

    <!-- Styles -->
    <link href="~/assets/css/app.min.css" rel="stylesheet">
    <link href="~/assets/css/thejobs.css" rel="stylesheet">
    <link href="~/assets/css/custom.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="~/assets/img/favicon.ico">
</head>

<body class="nav-on-header smart-nav">

    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="container">

            <!-- Logo -->
            <div class="pull-left">
                <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

                <div class="logo-wrapper">
                    <a href="@Url.Action("Index", "Home", null)">
                        <img class="logo-alt" src="~/Uploads/logo.png" alt="logo-alt" style="width:90px;height:60px;">
                    </a>
                </div>

            </div>
            <!-- END Logo -->
            <!-- Navigation menu -->
            <ul class="nav-menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Favourite List", "FavList", "Compare")</li>
                <li>@Html.ActionLink("Donor Advice", "DonorAdvice", "Home")</li>

                <li>@Html.ActionLink("FAQs", "FAQs", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>

                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <!-- END Navigation menu -->

        </div>
    </nav>
    <!-- END Navigation bar -->
    <!-- Site header -->
    <header class="page-header bg-img size-lg" style="background-image: url(/Uploads/pebblesbeachh.jpg)">
        <div class="container no-shadow">
            <h1 class="text-center">About us</h1>
            @*<p class="lead text-center">Keep reading this page to figure out how we got started and who is behind it!</p>*@
        </div>
    </header>
    <!-- END Site header -->
    <!-- Main container -->
    <main>
        <!-- About -->
        <section>
            <div class="container">
                <p style="text-align: justify;">WikiCharity, developed by Team QingGari, is a search and information resource regarding charities across Australia. The concept behind it was inspired by Wikipedia, hence the name; WikiCharity.</p>
                <ol style="margin-top: 0cm; text-align: justify;">
                    <li>WikiCharity is an information resource regarding all charities across Australia: WikiCharity is not an advertising platform for any charity. It does not intend to be a dictionary or act as a newspaper or collection of several documents. The data is derived and presented systematically from open data which is available from data.gov.au.</li>
                    <li>WikiCharity has provided all the information from a neutral point of view: The data is aimed to be presented in an impartial tone in the best view. The aim is not to induce any sort of biases in the minds of the user.</li>
                    <li>WikiCharity aims to provide with free content for using and distributing</li>
                </ol>
                <h5>Advantages of WikiCharity are:</h5>
                <ul style="list-style-type: circle; text-align: justify;">
                    <li>It is easy to learn and use. All the functionalities are intuitive and easy for the user to navigate through the website.</li>
                    <li>It is a flexible tool which can be used for various types of decision making.</li>
                </ul>
                <p style="text-align: justify;">WikiCharity offers a unique search system that can be used to narrow down the search results. Other than the search function, WikiCharity offers financial ratios, and vital financial figures in the form of Graphs and Charts, simple enough for anyone to comprehend.</p>
                <p style="text-align: justify;">WikiCharity aims to create partnerships between both individuals &amp; business, and charities. With the rise of corporate social responsibility programs in the corporate sector, opportunities arise for charities to build stronger relationships with businesses and thus, have a positive impact on people and the environment.</p>
            </div>
        </section>
        <!-- END About -->

    </main>
    <!-- END Main container -->
    <!-- Site footer -->
    <footer class="site-footer">

        <!-- Top section -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h6>WikiCharity</h6>
                    <p class="text-justify">
                        WikiCharity is a platform to connect individuals, and businesses with information about charities & not-for-profits across Australia. The highly customizable search function will allow users to find charities based on their criteria. Search results will provide basic charity details, historical financial details, and calculated financial ratios. To hasten their search, or gain a deeper understanding of the charities, users are also able to compare charities for a side-by-side view of charity details.
                    </p>
                </div>

            </div>

            <hr>
        </div>
        <!-- END Top section -->
        <!-- Bottom section -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">

                    <p class="copyright-text">Copyrights &copy; @DateTime.Now.Year All Rights Reserved by QingGari</p>
                </div>
            </div>
        </div>
        <!-- END Bottom section -->

    </footer>
    <!-- END Site footer -->
    <!-- Back to top button -->
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
    <!-- END Back to top button -->
    <!-- Scripts -->
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/thejobs.js"></script>

</body>
</html>
