@model WikiCharity.Models.FilterModel

@{
    ViewBag.Title = "buttonTest";
    
}
<script src="~/Scripts/site.js"></script>
<h2>buttonTest</h2>
<div id="change">
    @using (Html.BeginForm("buttonTest", "Home", FormMethod.Post, new { role = "form" }))
    {
        @Html.DropDownListFor(m => m.state, Model.states, "State", new { @class = "form-control", @id="state"})
        @Html.DropDownListFor(m => m.beneficial, Model.beneficials, "Beneficiaries", new { @class = "form-control", @id = "bene" })
        @Html.DropDownListFor(m => m.size, Model.sizes, "Charity Size", new { @class = "form-control", @id = "size" })
        @Html.DropDownListFor(m => m.isDGR, Model.isDGRs, "Tax Deductable", new { @class = "form-control", @id = "tax" })

        <button type="submit" class="btn btn-warning" style="border-radius:20px;color:black;font-size:16px;font-family:Verdana;" id="button1">Show @Model.countNum charities we find for you</button>
    }
</div>


