@model WikiCharity.Models.Charity

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Post a job position or create your online resume by TheJobs!">
    <meta name="keywords" content="">

    <title>Charity Info</title>

    <!-- Styles -->
    <link href="~/assets/css/app.min.css" rel="stylesheet">
    <link href="~/assets/css/thejobs.css" rel="stylesheet">
    <link href="~/assets/css/custom.css" rel="stylesheet">
    <link href="~/Content/detailtable.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="~/assets/img/favicon.ico">
</head>

<body class="nav-on-header smart-nav">


    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="container">

            <!-- Logo -->
            <div class="pull-left">
                <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

                <div class="logo-wrapper">
                    <a href="@Url.Action("Index", "Home", null)">
                        <img class="logo-alt" src="~/Uploads/logo.png" alt="logo-alt" style="width:90px;height:60px;">
                    </a>

                </div>

            </div>
            <!-- END Logo -->
            <!-- Navigation menu -->
            <ul class="nav-menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("FAQs", "FAQs", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <!-- END Navigation menu -->

        </div>
    </nav>
    <!-- END Navigation bar -->
    <!-- Page header -->
    <header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
        <div class="container">
            <div class="header-detail">
                @*<img class="logo" src="~/assets/img/logo-google.jpg" alt="">*@
                <div class="hgroup">
                    <h1>Charity Name</h1>
                    <h3><a href="#">The Charity's street line1 + line2 + town, state , postcode</a></h3>
                </div>

                <hr>
                <p class="lead">@Html.DisplayFor(i => i.Description)</p>
                <p class="lead">@Html.DisplayFor(i => i.Beneficiaries)</p>
                <p class="lead">@Html.DisplayFor(i => i.Website)</p>
                <ul class="details cols-3">
                    <li>
                        <i class="fa fa-briefcase"></i>
                        <span>ABN: @Html.DisplayFor(i => i.ABN)</span>
                    </li>

                    <li>
                        <i class="fa fa-question"></i> @*TODO: Find a icon for size*@
                        <span>Size: @Html.DisplayFor(i => i.Size)</span>
                    </li>

                    <li>
                        <i class="fa fa-money"></i>
                        @if (Model.Tax == true)
                        {
                        <span>Tax Deductiable: Yes</span>
                        }
                        else
                        {
                            <span>Tax Deductiable: No</span>
                        }
                    </li>



                    <li>
                        <i class="fa fa-users"></i>                        <span>Full time staff: @Html.DisplayFor(i => i.StaffFull)</span>
                    </li>

                    <li>
                        <i class="fa fa-users"></i>
                        <span>Part time Staff: @Html.DisplayFor(i => i.StaffPart)</span>
                    </li>

                    <li>
                        <i class="fa fa-users"></i>
                        <a href="#">Casual Staff: @Html.DisplayFor(i => i.StaffCasual)</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- END Page header -->
    <!-- Main container -->
    <main>

        <!-- Charity detail -->
        <section>
            <div class="container">

                <p>Some Info</p>

                <br>
                <h4>Financial table</h4>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Year</th>
                                <th scope="col">2014</th>
                                <th scope="col">2015</th>
                                <th scope="col">2016</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="Year">Attr1</td>
                                <td data-label="2014">100</td>
                                <td data-label="2015">$1,190</td>
                                <td data-label="2016">$2333</td>
                            </tr>
                            <tr>
                                <td data-label="Year">Attr2</td>
                                <td data-label="2014">100</td>
                                <td data-label="2015">$1,190</td>
                                <td data-label="2016">$2333</td>
                            </tr>
                            <tr>
                                <td data-label="Year">Attr3</td>
                                <td data-label="2014">100</td>
                                <td data-label="2015">$1,190</td>
                                <td data-label="2016">$2333</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <br>
                <h4>Bar Chart</h4>
                <p><img src="~/assets/img/bar.png" alt=""></p>

                <br>
                <h4>Line Chart</h4>
                <p><img src="~/assets/img/line.png" alt=""></p>

                <br>
                <h4>Chart 3</h4>
                <p>a chart</p>



            </div>
        </section>
        <!-- END Charity detail -->

    </main>
    <!-- END Main container -->
    <!-- Site footer -->
    <footer class="site-footer">

        <!-- Top section -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">WikiCharity aims to create partnerships between both individuals & business, and charities. With the rise of corporate social responsibility programs in the corporate sector, opportunities arise for charities to build stronger relationships with businesses and thus, have a positive impact on people and the environment. </p>
                </div>

            </div>

            <hr>
        </div>
        <!-- END Top section -->
        <!-- Bottom section -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">

                    <p class="copyright-text">Copyrights &copy; @DateTime.Now.Year All Rights Reserved by QingGari</p>
                </div>
            </div>
        </div>
        <!-- END Bottom section -->

    </footer>
    <!-- END Site footer -->
    <!-- Back to top button -->
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
    <!-- END Back to top button -->
    <!-- Scripts -->
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/thejobs.js"></script>
    <script src="~/assets/js/custom.js"></script>

</body>
</html>
