@model IEnumerable<WikiCharity.Models.DetailModel>
@{
    ViewBag.Title = "Details";
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>WikiCharity-Charity Info</title>

    <!-- Styles -->
    <link href="~/assets/css/app.min.css" rel="stylesheet">
    <link href="~/assets/css/thejobs.css" rel="stylesheet">
    <link href="~/assets/css/custom.css" rel="stylesheet">
    <link href="~/Content/detailtable.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="~/Scripts/cusGraph.js"></script>
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="~/assets/img/favicon.ico">



</head>

<body class="nav-on-header smart-nav">


    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="container">

            <!-- Logo -->
            <div class="pull-left">
                <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

                <div class="logo-wrapper">
                    <a href="@Url.Action("Index", "Home", null)">
                        <img class="logo-alt" src="~/Uploads/logo.png" alt="logo-alt" style="width:90px;height:60px;">
                    </a>

                </div>

            </div>
            <!-- END Logo -->
            <!-- Navigation menu -->
            <ul class="nav-menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Favourite List", "FavList", "Compare")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Donor Advice", "DonorAdvice", "Home")</li>
                <li>@Html.ActionLink("FAQs", "FAQs", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <!-- END Navigation menu -->

        </div>
    </nav>
    <!-- END Navigation bar -->
    <!-- Page header -->
    <header class="page-header bg-img size-lg" style="background-image: url(/assets/img/bg-banner2.jpg)">
        <div class="container">
            <div class="header-detail">
                <div class="hgroup">
                    <h1>@Html.DisplayFor(i => Model.ToList()[0].Name)</h1>
                    <h3>@Html.DisplayFor(i => Model.ToList()[0].Address)</h3>
                </div>
                <hr>
                <div id="lessDesc" style="display:normal">
                    <p class="lead">@ViewBag.PartDes</p>

                </div>
                <div id="showDesc" style="display:none">
                    <p class="lead">@Html.DisplayFor(i => Model.ToList()[0].Description)</p>
                </div>
                <div style="text-align:right; display:none " id="showlessbtn">
                    <button class="btn btn-primary" id="showDescbtn1" onclick="hideDesc()">Show Less</button>
                </div>
                
                <div style="text-align:right; display:normal" id="showmorebtn">
                    <button class="btn btn-primary" id="showDescbtn" onclick="showHideDesc()">Show More</button>
                </div>



                <p class="lead">Beneficiaries: @Html.DisplayFor(i => Model.ToList()[0].Beneficiaries)</p>
                @if (!Model.ToList()[0].Website.Contains("NA"))
                {
                    if (!Model.ToList()[0].Website.Contains("http"))
                    {
                        <p class="lead"><a href="https://@Model.ToList()[0].Website">@Model.ToList()[0].Website</a></p>
                    }
                    else
                    {
                        <p class="lead"><a href="@Model.ToList()[0].Website" target="_blank">@Model.ToList()[0].Website</a></p>
                    }

                }
                <ul class="details cols-3">
                    <li>
                        <i class="fa fa-briefcase"></i>
                        <span>ABN: @Html.DisplayFor(i => Model.ToList()[0].ABN)</span>
                    </li>

                    <li>
                        <i class="fas fa-warehouse"></i>
                        <span>Size: @Html.DisplayFor(i => Model.ToList()[0].Size)</span>
                    </li>

                    <li>
                        <i class="fas fa-money-bill-alt"></i>

                        <span>Tax Deductiable: @Html.DisplayFor(i => Model.ToList()[0].Tax)</span>
                    </li>
                    <li>
                        <i class="fa fa-users"></i>
                        <span>Full time staff: @Html.DisplayFor(i => Model.ToList()[0].StaffFull)</span>
                    </li>

                    <li>
                        <i class="fa fa-users"></i>
                        <span>Part time Staff: @Html.DisplayFor(i => Model.ToList()[0].StaffPart)</span>
                    </li>

                    <li>
                        <i class="fa fa-users"></i>
                        <span>Casual Staff: @Html.DisplayFor(i => Model.ToList()[0].StaffCasual)</span>
                    </li>

                    <li>
                        <i class="fa fa-users"></i>
                        <span>Volunteer Staff: @Html.DisplayFor(i => Model.ToList()[0].StaffVolun)</span>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- END Page header -->

    <div style="text-align:center">
        <a id="scroll-down" href="#"><i class="ti-angle-double-down"></i></a>
    </div>

    <!-- Main container -->
    <main>

        <!-- Charity detail -->
        <section>
            <div class="container">
                <div>
                    <p style="text-align:justify">
                        When looking at a charity's financial information, always consider potential factors that may affect that information and how you interpret it. If possible, look for other sources of information, including contacting the charity to ask questions. Please read the Donor Advise page for more information.
                    </p>
                </div>
                <div class="chartrow">
                    <!--Bar Chart-->
                    <h4>Revenue & Expenses</h4>
                    <div id="chart_div2" class="chart">
                        <div class="spinner">
                            <span class="dot1"></span>
                            <span class="dot2"></span>
                            <span class="dot3"></span>
                        </div>
                    </div>
                    <!--END Bar Chart-->

                    <!--Line Graph-->
                    <h4>Surplus / Deficit</h4>
                    <div id="chart_div1" class="chart">
                        <div class="spinner">
                            <span class="dot1"></span>
                            <span class="dot2"></span>
                            <span class="dot3"></span>
                        </div>
                    </div>
                </div>
                <!--END Line Graph-->

                    <!--Bar Chart2-->
                    <h4>Total Assets & Liabilities</h4>
                    <div id="chart_div3" class="chart">
                        <div class="spinner">
                            <span class="dot1"></span>
                            <span class="dot2"></span>
                            <span class="dot3"></span>
                        </div>
                    </div>
                    <!--END Bar Chart2-->
                    
                <!--Ratios Table-->
                <table>
                    <caption>Ratios</caption>
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">2014</th>
                            <th scope="col">2015</th>
                            <th scope="col">2016</th>
                            <th scope="col">Industry Median</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Year">Employee Expenses Percentage </td>
                            <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].EmpExpensePersentage)</td>
                            <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].EmpExpensePersentage)</td>
                            <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].EmpExpensePersentage)</td>
                            <td data-label="Industry Median">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].EmpExpInSizeMedian)</td>
                        </tr>
                        <tr>
                            <td data-label="Year">Debt Equity Ratio</td>
                            <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].DebtEquityRadio)</td>
                            <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].DebtEquityRadio)</td>
                            <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].DebtEquityRadio)</td>
                            <td data-label="Industry Median">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].DebtEquityInSizeMedian)</td>

                        </tr>
                        <tr>
                            <td data-label="Year">Saving Ratio</td>
                            <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].SavingRadio)</td>
                            <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].SavingRadio)</td>
                            <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].SavingRadio)</td>
                            <td data-label="Industry Median">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].SavingRadioInSizeMedian)</td>

                        </tr>
                        <tr>
                            <td data-label="Year">Current Ratio</td>
                            <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].CurrentRadio)</td>
                            <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].CurrentRadio)</td>
                            <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].CurrentRadio)</td>
                            <td data-label="Industry Median">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].CurrentRadioInSizeMedian)</td>

                        </tr>
                        <tr>
                            <td data-label="Year">Debt Ratio</td>
                            <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].DebtRadio)</td>
                            <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].DebtRadio)</td>
                            <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].DebtRadio)</td>
                            <td data-label="Industry Median">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].DebtRadioInSizeMedian)</td>

                        </tr>
                    </tbody>
                </table>
                <!--END Ratios Table-->
                <div class="btn-search">
                    <button class="btn btn-primary" id="show" onclick="showHideCode()">Show/Hide Financial Tables</button>
                </div>
                <!--Financial Table-->
                <div id="showdiv" style="display:none">
                    <!--Income Table-->

                    <table>
                        <caption>Income</caption>
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">2014</th>
                                <th scope="col">2015</th>
                                <th scope="col">2016</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="Year">Donations and Bequests($)</td>
                                <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].Donations)</td>
                                <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].Donations)</td>
                                <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].Donations)</td>
                            </tr>
                            <tr>
                                <td data-label="Year">Government Grants($)</td>
                                <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].GoverGrant)</td>
                                <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].GoverGrant)</td>
                                <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].GoverGrant)</td>
                            </tr>
                            <tr>
                                <td data-label="Year">Other Income($)</td>
                                <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].OtherIncome)</td>
                                <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].OtherIncome)</td>
                                <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].OtherIncome)</td>
                            </tr>
                            <tr>
                                <td data-label="Year">Total Gross Income($)</td>
                                <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].TotalGrossIncome)</td>
                                <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].TotalGrossIncome)</td>
                                <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].TotalGrossIncome)</td>
                            </tr>

                        </tbody>
                    </table>
                    <!--END Income Table-->
                    <!--Expense Table-->
                    <table>
                        <caption>Expenses</caption>
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">2014</th>
                                <th scope="col">2015</th>
                                <th scope="col">2016</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="Year">Employee Expenses($)</td>
                                <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].EmpExpense)</td>
                                <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].EmpExpense)</td>
                                <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].EmpExpense)</td>
                            </tr>
                            <tr>
                                <td data-label="Year">Grants and Donations used in Australia($)</td>
                                <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].GDInAus)</td>
                                <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].GDInAus)</td>
                                <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].GDInAus)</td>
                            </tr>
                            <tr>
                                <td data-label="Year">Grants and Donations used outside Australia($)</td>
                                <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].GDOutAus)</td>
                                <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].GDOutAus)</td>
                                <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].GDOutAus)</td>
                            </tr>
                            <tr>
                                <td data-label="Year">All Other Expenses($)</td>
                                <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].AllOtherExpense)</td>
                                <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].AllOtherExpense)</td>
                                <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].AllOtherExpense)</td>
                            </tr>
                            <tr>
                                <td data-label="Year">Total Expenses($)</td>
                                <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].Expense)</td>
                                <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].Expense)</td>
                                <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].Expense)</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--END Expenses Table-->
                    <!--Net Surplus Deflicit Table-->
                    <table>
                        <caption>Net Surplus Deflcit</caption>
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">2014</th>
                                <th scope="col">2015</th>
                                <th scope="col">2016</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="Year">Net Surplus Deflcit($)</td>
                                <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].NetSurplus)</td>
                                <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].NetSurplus)</td>
                                <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].NetSurplus)</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--END Net Surplus Deflicit Table-->
                    <!--Assets and Liabilities Table-->
                    <table>
                        <caption>Assets and Liabilities</caption>
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">2014</th>
                                <th scope="col">2015</th>
                                <th scope="col">2016</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="Year">Total Current Assets($)</td>
                                <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].TotalCurrentAssets)</td>
                                <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].TotalCurrentAssets)</td>
                                <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].TotalCurrentAssets)</td>
                            </tr>
                            <tr>
                                <td data-label="Year">Total Non Current Assets($)</td>
                                <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].TotalNotCurrentAssets)</td>
                                <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].TotalNotCurrentAssets)</td>
                                <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].TotalNotCurrentAssets)</td>
                            </tr>
                            <tr>
                                <td data-label="Year">Total Assets($)</td>
                                <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].TotalAssets)</td>
                                <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].TotalAssets)</td>
                                <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].TotalAssets)</td>
                            </tr>
                            <tr>
                                <td data-label="Year">Total Current Liabilities($)</td>
                                <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].TotalCurrentLia)</td>
                                <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].TotalCurrentLia)</td>
                                <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].TotalCurrentLia)</td>
                            </tr>
                            <tr>
                                <td data-label="Year">Total Non Current Liabilities($)</td>
                                <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].TotalNotCurrentLia)</td>
                                <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].TotalNotCurrentLia)</td>
                                <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].TotalNotCurrentLia)</td>
                            </tr>
                            <tr>
                                <td data-label="Year">Total Liabilities($)</td>
                                <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].TotalLia)</td>
                                <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].TotalLia)</td>
                                <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].TotalLia)</td>
                            </tr>
                        </tbody>
                    </table>
                    <!--End Assets and Liabilities Table-->
                    <!--Net Assets Liabilities Table-->

                    <table>
                        <caption>Net Assets Liabilities</caption>
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">2014</th>
                                <th scope="col">2015</th>
                                <th scope="col">2016</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-label="Year">Net Assets Liabilities($)</td> @*TODO: Check vaule在这里用的是NetAssets吗？*@
                                <td data-label="2014">@Html.DisplayFor(i => Model.Where(a => a.Year == "2014").ToList()[0].NetAssets)</td>
                                <td data-label="2015">@Html.DisplayFor(i => Model.Where(a => a.Year == "2015").ToList()[0].NetAssets)</td>
                                <td data-label="2016">@Html.DisplayFor(i => Model.Where(a => a.Year == "2016").ToList()[0].NetAssets)</td>
                            </tr>
                        </tbody>
                    </table>

                    <!--END Net Assets Liabilities Table-->
                    <!--END Financial Table-->
                </div>
                <div class="btn-search">
                    <button class="btn btn-primary" id="show1" onclick="showHideCode1()">Show/Hide Ratio Explanation</button>
                </div>
                <div id="showdiv1" style="display:none">
                    <h4>What are the financial ratios and what do they mean?</h4>
                    <p style="text-align:justify">A financial statement ratio is derived by dividing the dollar amount of one item reported by the dollar amount of another item reported. The purpose is to express a relationship between two relevant items which is easy to interpret and compare. This is done to asses the financial stability of an entity. Financial Stability refers to the ability of an entity to continue operations in the long term.</p>
                    <p>WikiCharity employs five such ratios as follows:</p>
                    <p style="text-indent:50px;">
                        • Employee expenses percentage
                    </p>
                    <p style="text-indent:50px;">
                        • Debt-equity Ratio
                    </p>
                    <p style="text-indent:50px;">
                        • Savings Ratio
                    </p>
                    <p style="text-indent:50px;">
                        • Current Ratio
                    </p>
                    <p style="text-indent:50px;">
                        • Debt Ratio
                    </p>
                    <p style="text-align:justify">
                        WikiCharity also provides the Industry Medians for the respective charity sizes for comparison.
                    </p>
                    <h4>Employee Expenses Percentage</h4>
                    <p style="text-align:justify">
                        <i>
                            Employee Expenses Percentage = Employee Expenses / Total Gross Income *100
                        </i>
                    </p>
                    <p style="text-align:justify">This ratio expresses the employee expenses as a percentage of the total gross income. The smaller this number the lesser a percentage the charity usually spends on it’s employees.</p>
                    <h4>
                        Debt-equity Ratio
                    </h4>
                    <p><i>Debt-to-Equity Ratio = Total Liabilities / Net Equity *100</i></p>
                    <p style="text-align:justify">This ratio measures the correlation between a charity’s borrowed funds and the net equity of the organization. Clearly, any charity organization with a lot of debt will struggle to continue operating.</p>
                    <p style="text-align:justify">
                        A debt equity ratio of greater than 100% tells you that your organization has more debt than assets. As we all do, charities should strive to keep debts as low as possible.
                    </p>
                    <h4>
                        Savings Ratio
                    </h4>
                    <p>
                        <i>
                            (Total Revenue — Total Expenses) / Total Expenses
                        </i>
                    </p>

                    <p style="text-align:justify">
                        This ratio shows the rate of the charity’s total revenue minus expenses relative to annual savings divided by total expenses. A high ratio indicates excessive savings.
                    </p>

                    <h4>
                        Current Ratio
                    </h4>
                    <p>
                        <i>
                            Current Ratio = Current Assets / Current Liabilities
                        </i>
                    </p>
                    <p style="text-align:justify">
                        The current ratio measures the organization’s ability to pay short-term liabilities. Charities should try to keep their current ratios above 1.0 as anything less than 1.0 indicates that the assets are vulnerable.
                    </p>

                    <h4>
                        Debt Ratio
                    </h4>
                    <p>
                        <i>
                            Debt Ratio = Total Liabilities / Total Assets
                        </i>
                    </p>
                    <p style="text-align:justify">
                        The Debt Ratio, also referred to as the Gearing Ratio, is one of the most common ratios used to assess financial stability. The ratio measures the margin of safety to the creditors of an entity in the event of liquidation; thus the lower the ratio, the greater asset protection to creditors.
                    </p>

                </div>




            </div>
        </section>
        <!-- END Charity detail -->

    </main>
    <!-- END Main container -->
    <!-- Site footer -->
    <footer class="site-footer">

        <!-- Top section -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h6>About</h6>
                    <p class="text-justify">WikiCharity is a digital platform which is used to connect businesses and charities across Australia. The website would serve as a bridge which would enable the user to search charities according to his preference, provide and compare information on the charity’s basic financial data as well.  This will help the users to narrow down on the charities which they want to donate. </p>
                </div>

            </div>
            <hr>
        </div>
        <!-- END Top section -->
        <!-- Bottom section -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">

                    <p class="copyright-text">Copyrights &copy; @DateTime.Now.Year All Rights Reserved by QingGari</p>
                </div>
            </div>
        </div>
        <!-- END Bottom section -->

    </footer>
    <!-- END Site footer -->
    <!-- Back to top button -->
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
    <!-- END Back to top button -->
    <!-- Scripts -->




    <script src="~/assets/js/thejobs.js"></script>



</body>
</html>
