
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TheJobs is a directory listing template.">
    <meta name="keywords" content="">

    <title>WikiCharity - FAQs</title>

    <!-- Styles -->
    <link href="~/assets/css/app.min.css" rel="stylesheet">
    <link href="~/assets/css/thejobs.css" rel="stylesheet">
    <link href="~/assets/css/custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,800%7COpen+Sans:300,400,500,600,700,800%7CMontserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="~/assets/img/favicon.ico">
</head>

<body class="nav-on-header smart-nav">

    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="container">
            <!-- Logo -->
            <div class="pull-left">
                <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

                <div class="logo-wrapper">
                    <a href="@Url.Action("Index", "Home", null)">
                        <img class="logo-alt" src="~/Uploads/logo.png" alt="logo-alt" style="width:90px;height:60px;">
                    </a>
                </div>

            </div>
            <!-- END Logo -->
            <!-- Navigation menu -->
            <ul class="nav-menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("FAQs", "FAQs", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <!-- END Navigation menu -->

        </div>
    </nav>
    <!-- END Navigation bar -->    
    <!-- Site header -->
    <header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
        <div class="container no-shadow">
            <h1 class="text-center">Frequently asked questions</h1>
            <p class="lead text-center">Probably you'll find your answer here. Contact us if you don't find what you're looking for.</p>
        </div>
    </header>
    <!-- END Site header -->
    <!-- Main container -->
    <main id="faq-result">
        <section>
            <div class="container">
                <header class="section-header text-left">
                    <span>Common questions</span>
                    <h2>General</h2>
                </header>

                <ul class="faq-items">
                    <li>
                        <h5>How to search for Charities? </h5>
                        <p>Charities can be searched through either of two methods. If the charity’s name is known, it can be searched for directly with the search bar, but if the charity name is not known, the filters can be utilized to search for only the charities that meet the search criteria. </p>
                    </li>

                    <li>
                        <h5>Where has the information about charities come from?</h5>
                        <p>Information about the charities have been sourced from the Australian Charities and Not-For-Profits Commission, and Information on the charities’ deductable gift recipient status for tax deduction was sourced from the Australian Taxation Office. All the data comes with a Creative Commons Attribution 3.0 Australian intellectual property license.</p>
                    </li>

                    <li>
                        <h5>Are all charities displayed or only charities which have been asked to be shown? </h5>
                        <p>All charities that have been registered with the Australian Charities and Not-For-Profits Commission are shown. Currently there are about 56,000 Charities in Australia.</p>
                    </li>

                    <li>
                        <h5>Are only Australian charities shown?</h5>
                        <p>Yes, currently, WikiCharity only shows data about Australian Charities.</p>
                    </li>

                    <li>
                        <h5>Why are so many of the websites not listed? </h5>
                        <p>WikiCharity utilizes data provided to the Australian Charities and Not-For-Profits Commission (ACNC) by the charities themselves and does not search the internet for missing information. WikiCharity cannot take on any liabilities of misrepresentation and therefore will only provide information that has been provided to the ACNC.</p>
                    </li>

                    <li>
                        <h5>Where is the financial information about the charities? </h5>
                        <p>Work is currently underway to provide the financial information about the charities.</p>
                    </li>

                    <li>
                        <h5>Who audits the data?</h5>
                        <p>The data is sourced from the Australian Charities and Not-For-Profits Commission and the Australian Taxation Office. Being government websites, an assumption was made that the government organisations themselves have audited the data and that the information provided by them is accurate as of 20th March 2018.</p>
                    </li>

                    <li>
                        <h5>How can one give feedback on certain charity data if it is wrong?</h5>
                        <p>WikiCharity has a contact us page where anyone can give feedback about the contents of the website or information on the website. However, only changes made in the data provided by the data providers, namely the Australian Charities and Not-For-Profits Commission (ACNC), will be reflected on WikiCharity. If there are any discrepancies in the data, WikiCharity will recommend getting in touch with the ACNC to rectify the possible mistakes in the data.</p>
                    </li>

                    <li>
                        <h5>How do I add my charity onto WikiCharity?</h5>
                        <p>Since the information displayed on WikiCharity comes from the Australian Charities and Not-For-Profits Commission (ACNC), to add a charity on WikiCharity, that charity will need to be registered with the ACNC, and can be done through their website. </p>
                    </li>
                 </ul>
            </div>
        </section>


    </main>
    <!-- END Main container -->
    <!-- Site footer -->
    <footer class="site-footer">

        <!-- Top section -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">WikiCharity aims to create partnerships between both individuals & business, and charities. With the rise of corporate social responsibility programs in the corporate sector, opportunities arise for charities to build stronger relationships with businesses and thus, have a positive impact on people and the environment. </p>
                </div>


            </div>

            <hr>
        </div>
        <!-- END Top section -->
        <!-- Bottom section -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">

                    <p class="copyright-text">Copyrights &copy; @DateTime.Now.Year All Rights Reserved by QingGari</p>
                </div>
            </div>
        </div>
        <!-- END Bottom section -->

    </footer>
    <!-- END Site footer -->
    <!-- Back to top button -->
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
    <!-- END Back to top button -->
    <!-- Scripts -->
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/thejobs.js"></script>
    <script src="~/assets/js/custom.js"></script>

</body>
</html>
