@model IEnumerable<WikiCharity.Models.CharityModel>

@{
    ViewBag.Title = "FilterResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Filter Result</h2>

<table id="example" class="table table-striped">
    <thead>
        <tr>
            <th>Charity Name</th>
            <th>Charity Website</th>
            <th>Charity Registed Date</th>
            <th>Benificials</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var charity in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => charity.CharityName)</td>
                @if (charity.Website.Contains("http://"))
                {
                    <td><a href="@charity.Website">@charity.Website</a></td>
                }
                else if (charity.Website == "NA")
                {
                    <td>Website doesn't exist</td>
                }
                else
                {
                    <td><a href="http://@charity.Website">@charity.Website</a></td>
                }
                <td>@Html.DisplayFor(modelItem => charity.RegisDate)</td>
                <td>@String.Join(", ", charity.tags.ToArray())</td>
            </tr>
        }
    </tbody>
</table>