@model WikiCharity.Models.FilterModel


@{

    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">

    <title>WikiCharity</title>

    <!-- Styles -->
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <link href="~/assets/css/app.min.css" rel="stylesheet">
    <link href="~/assets/css/thejobs.css" rel="stylesheet">
    <link href="~/assets/css/custom.css" rel="stylesheet">
    <link href="~/Content/HomeStyle.css" rel="stylesheet" />
    <link href="~/Content/chosen.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">


    <!-- Fonts -->

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="~/assets/img/favicon.ico">
</head>

<body class="nav-on-header smart-nav">

    <!-- Navigation bar -->
    <nav class="navbar">
        <div class="container">

            <!-- Logo -->
            <div class="pull-left">
                <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

                <div class="logo-wrapper">
                    <a href="@Url.Action("Index", "Home", null)">
                        <img class="logo-alt" src="~/Uploads/logo.png" alt="logo-alt" style="width:90px;height:60px;">
                    </a>

                </div>

            </div>
            <!-- END Logo -->
            <!-- Navigation menu -->
            <ul class="nav-menu">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Favourite List", "FavList", "Compare")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Donor Advice", "DonorAdvice", "Home")</li>
                <li>@Html.ActionLink("FAQs", "FAQs", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            <!-- END Navigation menu -->

        </div>
    </nav>
    <!-- END Navigation bar -->
    <!-- Site header -->
    <header class="site-header size-lg text-center" style="background-image: url(/Uploads/sky.jpg);height:100%;">
        <div class="container">
            <div class="col-xs-12">

                <br />
                <br />

                <h2>Find Charities that Suit <mark>Your Needs</mark></h2>
                <h6 class="font-alt">Want to get involved with Corporate Social Responsibility?</h6>
                <h6 class="font-alt">We can help you...</h6>
                <h6 class="font-alt">Select Any of the options below and click search button.</h6>
                <br><br>

                <p style="text-align:right"><mark>*</mark>All the selections are optional</p>

                <!--Search Bar-->
                @using (Html.BeginForm("FilterResult", "Home"))
                {
                    <div class="select-state">
                        <!--<label style="color:cornflowerblue;font-size:18px;text-align:left;position:inherit;">State</label>-->
                        State:
                        @Html.DropDownListFor(m => m.state, Model.states, "All States", new { @class = "form-control", @id = "state" })
                    </div>
                    <div class="select-tax">
                        Tax Deductible Status
                        @Html.DropDownListFor(m => m.isDGR, Model.isDGRs, "Show All Charities", new { @class = "form-control", @id = "tax" })

                    </div>
                    <div class="input-search">
                        Seach by Charity Name:
                        @Html.TextBoxFor(m => m.name, new { @class = "form-control", @id = "name", placeholder = "Search by name (optional)" })
                    </div>

                    <div class="select-size">
                        Charity Size:
                        <span title="Small: Revenue &lt; $250,000
                              &NewLine;Medium: $250,000 &lt; Revenue &lt; $1,000,000
                              &#013;Large: Revenue &gt; $1,000,000">
                            <i class="ti-help-alt" style="color:#29aafe"></i>
                        </span>
                        @Html.ListBoxFor(m => m.sizeString, ViewBag.multiSelectSizes as MultiSelectList, new { @class = "chosen-select-multiple", @id = "size" })
                    </div>


                    <div class="select-act">
                        Main Purpose&nbsp;&nbsp;(You can choose up to 3 options):
                        <span title="Main activity the charity carries out">
                            <i class="ti-help-alt" style="color:#29aafe"></i>
                        </span>                        <div class="chosen-container-multi">
                            @Html.ListBoxFor(m => m.actiString, ViewBag.multiSelectActis as MultiSelectList, new { @class = "chosen-select-multiple", @id = "acti" })
                        </div>
                    </div>


                    <div style="text-align:left">
                        Beneficiaries&nbsp;&nbsp;(You can choose up to 3 options):
                        <span title="The group of people the charity helps">
                            <i class="ti-help-alt" style="color:#29aafe"></i>
                        </span>                    </div>
                    <div class="select-bene">
                        <div class="chosen-container-multi">
                            @Html.ListBoxFor(m => m.beneString, ViewBag.multiSelectBenes as MultiSelectList, new { @class = "chosen-select-multiple", @id = "bene" })
                        </div>
                    </div>
                    <br />

                    <div class="btn-search">

                        <button type="submit" class="btn btn-primary" id="button1">Click to show the 47597 charities</button>

                    </div>


                }
                <!-- END Search Bar-->


                <br />
                <a id="scroll-down" href="#"><i class="ti-angle-double-down"></i></a>
            </div>



        </div>
    </header>
    <!-- END Site header -->
    <!-- Main container -->
    <main>
        <!-- Facts -->
        <section class="bg-img bg-repeat no-overlay section-sm">
            <div class="container">

                <div class="row">
                    <div class="counter col-md-6 col-sm-6">
                        <p><span data-from="0" data-to="47000"></span>+</p>
                        <h6>Charities</h6>
                    </div>

                    <div class="counter col-md-6 col-sm-6">
                        <p><span data-from="0" data-to="30"></span>+</p>
                        <h6>Beneficiaries</h6>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Facts -->
        <!-- How it Works start -->
        <div class="section howitwrap">
            <div class="container">
                <!-- title start -->
                <!-- title end -->
                <ul class="howlist row">
                    <!--step 1-->
                    <li class="col-md-4 col-sm-4">
                        <div class="iconcircle"><i class="fas fa-search"></i></div>
                        <h4>Find sutiable charities</h4>
                        <p>Search and get charity details based on their name, size, beneficiary, etc. </p>
                    </li>
                    <!--step 1 end-->
                    <!--step 2-->
                    <li class="col-md-4 col-sm-4">
                        <div class="iconcircle"><i class="fas fa-chart-bar"></i></div>
                        <h4>Get detailed information </h4>
                        <p>Access to basic charity organisation details and financial data, like financial charts and ratios to help you make better decisions.</p>
                    </li>
                    <!--step 2 end-->
                    <!--step 3-->
                    <li class="col-md-4 col-sm-4">
                        <div class="iconcircle"><i class="fas fa-balance-scale"></i></div>
                        <h4>Compare the charities</h4>
                        <p>
                            A side by side view of charities with the compare fuction. 
                        </p>
                    </li>
                    <!--step 3 end-->
                </ul>
            </div>
        </div>
        <!-- How it Works Ends -->

        <br />
        <br />
    </main>
    <!-- END Main container -->
    <!-- Site footer -->
    <footer class="site-footer">

        <!-- Top section -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h6>WikiCharity</h6>
                    <p class="text-justify">
                        WikiCharity is a platform to connect individuals, and businesses with charities & not-for-profits across Australia. The highly customizable search function will allow users to find charities based on their criteria. Search results will provide basic charity details, and the charity’s historical financial details and financial ratios. Users will also be able to compare charities to aid users to narrow down on the charities which they would like to donate to.
                    </p>
                </div>

            </div>

            <hr>
        </div>
        <!-- END Top section -->
        <!-- Bottom section -->
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">

                    <p class="copyright-text">Copyrights &copy; @DateTime.Now.Year All Rights Reserved by QingGari</p>
                </div>
            </div>
        </div>
        <!-- END Bottom section -->

    </footer>
    <!-- END Site footer -->
    <!-- Back to top button -->
    <a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
    <!-- END Back to top button -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/js/thejobs.js"></script>
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/chosen.proto.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/site.js"></script>



</body>
</html>








